#header {
  padding: 180px 0 90px 0;
  background-color: tomato;
}

#hi {
  font-size: 4em;
}

nav {
  font-size: 1.3em;
}

nav i {
  font-size: 2em;
  color: tomato;
  transition: 1s;
}

nav i:hover {
  transform: scale(1.3);
  color: lightgray;
}

#content {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  font-size: 1.2em;
}

section {
  padding: 150px 0;
}

.container h2 {
  font-size: 3rem;
}

.container p.lead {
  font-size: 30px;
  margin: 10px;
}

.odds {
  background-color: rgba(255, 255, 255, 0.85);
}

.evens {
  background-color: rgba(230, 230, 230, 0.85);
}

/*========= About ==========*/
#about i {
  font-size: 3.5em;
  color: black;
  transition: 0.2s;
}

#about i:hover {
  color: tomato;
}

#about a:hover {
  text-decoration: none;
}

#profile {
  width: 230px;
  height: 230px;
  margin: 40px auto;
  background-image: url(../images/profile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 150px;
  transition: 1s;
}

#profile:hover {
  transform: scale(1.3);
  border-radius: 10px;
}

#statement {
  text-align: justify;
}

#skills .fas,
#skills .fab {
  font-size: 6em;
  color: tomato;
  margin-bottom: 10px;
}

#contact span i {
  width: 30px;

  position: relative;

  margin-right: 5px;
  fill: #fff;
}

.extlinks {
  display: flex;
  justify-content: space-evenly;
}

.thumbnail {
  position: relative;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: tomato;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.overlay .fas {
  font-size: 2em;
}

.thumbnail a:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.caption {
  min-height: 8em;
  text-align: justify;
}

.btn {
  min-width: 100px;
}

#projects span {
  font-size: 3em;
  color: black;
  transition: 0.5s;
}

#projects span:hover {
  color: tomato;
}

#map {
  border: 2px solid cornflowerblue;
  border-radius: 15px;
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

#totop {
  font-size: 3em;
  color: Tomato;
}

#totop:hover {
  position: relative;
  animation: up;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.card.project {
  transition: all 0.3s ease-out;
}

.card.project:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transform: translateY(-5px);
  border: 1px solid #cccccc;
  background-color: white;
}

@keyframes up {
  0% {
    top: 0px;
  }
  80% {
    top: -6px;
  }
  100% {
    top: 0px;
  }
}

/* ============ The Modal starts here ============= */

/* The Modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalheader {
  padding: 16px 16px;
  background-color: cornflowerblue;
  color: white;
}

.modalbody {
  padding: 22px 16px;
}

.modaltext {
  font-size: 1.2em;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.modalfooter {
  padding: 20px 16px;
  background-color: cornflowerblue;
  color: white;
}
/* ============== The Modal ends here ============== */

/* ============== Media Query starts here ============== */

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}
