
header {
  padding: 154px 0 100px;
  background-color: tomato;
}

#content {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;    
  font-size: 1.2em;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.evens {
  background-color: rgba(255, 255, 255, 0.85);
}

.odds {
  background-color: rgba(234, 241, 255, 0.85)
}

#contact span i {
  width: 30px;

  position: relative;

  margin-right: 5px;
  fill: #fff;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.caption {
  min-height: 8em;
}

.btn {
  min-width: 100px;
}

#projects span {
  font-size: 3em;
  color: black;
  transition: 1s;
}

#projects span:hover {
  color: tomato;
}




/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
  visibility:hidden;
  visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  } 
}


#skills .fas, #skills .fab {
  font-size:6em;
  color:tomato;
  margin-bottom: 10px;
}
